.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(53, 53, 53);
}

.box {
  margin: 2rem;
  font-size: 48px;
  text-decoration: none;
  color: rgb(247, 247, 247);
}
